
.nav > li{
    width: 200px;
}
.navbar-default .navbar-nav > li > a {
    display: inline;
    margin: 0;
    padding: 0;
    color: #00b3ee;
}
article{
    text-align: center;
    box-shadow: 0 0 10px lightgray;
    margin: 10px;
    padding: 10px;
}
article div{
    margin: 10px;
}
article input[type='button']{
    margin: 5px;
}
.quantity{
    width: 25px;
    height: 25px;
    text-align: center;
}
.count_operation{
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid lightgrey;
    cursor: pointer;
}
.count_operation:hover{
    background: gray;
}
